/*ExS Video main styles*/
/* Side nav */
@media (max-width: 1680px) {
	.side-nav-sticked .topline .container,
	.side-nav-sticked .topline .container-fluid,
	.side-nav-sticked .toplogo .container,
	.side-nav-sticked .toplogo .container-fluid,
	.side-nav-sticked .intro-section .container,
	.side-nav-sticked .intro-section .container-fluid,
	.side-nav-sticked .intro-teasers .container,
	.side-nav-sticked .intro-teasers .container-fluid,
	.side-nav-sticked .title .container,
	.side-nav-sticked .title .container-fluid,
	.side-nav-sticked #main .container,
	.side-nav-sticked #main .container-fluid,
	.side-nav-sticked .footer .container,
	.side-nav-sticked .footer .container-fluid,
	.side-nav-sticked .copyright .container,
	.side-nav-sticked .copyright .container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
}

#side_nav{
	position: fixed;
	width: 240px;
	left: -240px;
	top: 0;
	bottom: 0;
	overflow: visible;
	z-index: 21;
	-webkit-transition: left .25s, visibility .25s ease-in-out;
	transition: left .25s, visibility .25s ease-in-out;
	visibility: hidden;
}

.side-menu-active #side_nav{
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.15);
	left: 0;
	visibility: visible;
}

#side_nav.right{
	left: auto;
	right: -240px;
	-webkit-transition: right .25s, visibility .25s ease-in-out;
	transition: right .25s, visibility .25s ease-in-out;
}

#side_nav.right .nav-btn{
	right: auto;
	left: -44px;
}

.top-menu-active #side_nav.right .nav-btn{
	display: none;
}

.side-menu-active #side_nav.right{
	right: 0;
}

#side_nav .side-nav{
	height: 100%;
	padding: 2.5em 0;
	overflow-x: auto;
	position: relative;
	z-index: 1;
}

#side_nav .side-nav > *{
	border-top: 1px solid var(--colorBorder);
	padding: 15px 20px 0;
}

#side_nav .side-nav > * + *{
	margin-top: 20px;
}

#side_nav .meta,
#side_nav .social-links{
	display: block;
}

#side_nav .icon-inline{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	line-height: 1.4;
	margin: .8em 0;
}

#side_nav .nav-btn{
	background: #ffffff;
	background: var(--colorLight);
	opacity: 1;
	position: absolute;
	right: -44px;
	top: 0;
	box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.15);
}

#side_nav .nav-btn#nav_side_close{
	box-shadow: none;
	right: 0;
	z-index: 1;
	margin: 0;
}

#side_nav.right .nav-btn#nav_side_close{
	left: auto;
}

#side_nav.has-toggler ~ * .header .container-fluid,
#side_nav.has-toggler ~ * .toplogo .container-fluid,
#side_nav.has-toggler ~ * .topline .container-fluid{
	padding-left: 44px;
}

#side_nav.has-toggler.right ~ * .header .container-fluid,
#side_nav.has-toggler.right ~ * .toplogo .container-fluid,
#side_nav.has-toggler.right ~ * .topline .container-fluid{
	padding-right: 44px;
	padding-left: 0;
}

@media screen and (max-width: 1279px) {
	#side_nav.has-toggler ~ * .header .container,
	#side_nav.has-toggler ~ * .toplogo .container,
	#side_nav.has-toggler ~ * .topline .container{
		padding-left: 44px;
	}

	#side_nav.has-toggler.right ~ * .header .container,
	#side_nav.has-toggler.right ~ * .toplogo .container,
	#side_nav.has-toggler.right ~ * .topline .container{
		padding-right: 44px;
		padding-left: 0;
	}
}

#side_nav .logo.no-image .logo-text{
	margin: 0;
}

@media screen and (min-width: 1280px) {
	#side_nav.sticked{
		left: 0;
		visibility: visible;
	}

	#side_nav.sticked.header-sticked-shadow{
		box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.15);
	}

	#side_nav.sticked.header-sticked-border{
		border-right: 1px solid var(--colorBorder);
	}

	#side_nav.sticked.header-over-side-nav #nav_side{
		padding-top: 5em;
	}

	#side_nav.sticked.header-over-side-nav ~ * .topline,
	#side_nav.sticked.header-over-side-nav ~ * #header{
		margin-left: -240px;
		z-index: 23;
	}

	#side_nav.sticked.header-over-side-nav ~ * .topline.affix,
	#side_nav.sticked.header-over-side-nav ~ * #header.affix{
		margin-left: 0;
		box-shadow: none;
		opacity: .98;
	}

	#side_nav.sticked ~ *{
		margin-left: 240px;
	}

	#side_nav.sticked ~ * #header.affix{
		margin-left: 240px;
	}

	#side_nav.sticked ~ * #nav_side_toggle{
		display: none;
	}

	#side_nav.sticked ~ [id*='wpadminbar']{
		margin: 0;
	}

	#side_nav.sticked .nav-btn{
		display: none;
	}

	#side_nav.sticked.right{
		left: auto;
		right: 0;
	}

	#side_nav.sticked.right.header-sticked-border{
		border-right: none;
		border-left: 1px solid var(--colorBorder);
	}

	#side_nav.sticked.right ~ *{
		margin-left: inherit;
		margin-right: 240px;
	}

	#side_nav.sticked.right ~ * #header.affix{
		margin-left: inherit;
		margin-right: 240px;
	}

	#side_nav.sticked.right.header-over-side-nav ~ * #header{
		margin-right: -240px;
		z-index: 23;
	}

	#side_nav.sticked.right.header-over-side-nav ~ * #header.affix{
		margin-right: 0;
	}
}

#side_nav .widget_nav_menu .widget-title{
	display: none;
}

@media screen and (min-width: 1280px) {
	.side-nav-sticked .alignfull{
		width: -webkit-calc(100vw - 240px);
		width: calc(100vw - 240px);
		left: -webkit-calc(50% + 120px);
		left: calc(50% + 120px);
	}
}

@media (min-width: 1200px) {
	#header .container #nav_side_toggle:first-child,
	#header .container #nav_side_toggle:first-child{
		margin-left: -10px;
	}
}

h1{
	font-size: 2.75rem;
	line-height: 2.75rem;
	font-weight: 300;
	letter-spacing: -0.015625em;
}

h2{
	font-size: 2.25rem;
	line-height: 2.25rem;
	font-weight: 300;
	letter-spacing: -0.0083333333em;
}

h2.entry-title,
h3{
	font-size: 2rem;
	line-height: 2.125rem;
	font-weight: 400;
	letter-spacing: normal;
}

h4{
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 400;
	letter-spacing: 0.0073529412em;
}

h5{
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: normal;
}

h6{
	font-size: 1.15rem;
	line-height: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.0125em;
}

[type="reset"],
[type="button"],
[type="submit"],
.wp-block-button__link{
	font-size: 0.875rem;
	padding: 1rem 2rem;
	font-weight: 500;
	letter-spacing: 0.0892857143em;
}

.icon-inline{
	font-weight: 400;
}

.widget-title{
	font-size: 0.75rem;
	line-height: 2rem;
	font-weight: 500;
	text-transform: uppercase;
}

.entry-footer{
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
	letter-spacing: 0.0071428571em;
}

.wp-block-latest-posts li,
.wp-block-latest-comments:not(.has-avatars) li,
.wp-block-categories-list li,
.wp-block-archives-list li,
.widget_archive li,
.widget_categories li,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.widget_recent_entries li,
.widget_product_categories li,
.widget_layered_nav li,
.woocommerce-MyAccount-navigation li{
	margin: 0;
}

.wp-block-latest-posts li a,
.wp-block-latest-comments:not(.has-avatars) li a,
.wp-block-categories-list li a,
.wp-block-archives-list li a,
.widget_archive li a,
.widget_categories li a,
.widget_pages li a,
.widget_meta li a,
.widget_nav_menu li a,
.widget_recent_entries li a,
.widget_product_categories li a,
.widget_layered_nav li a,
.woocommerce-MyAccount-navigation li a{
	display: inline-block;
	padding: .4em 0;
}

body{
	background-color: var(--colorBackground);
	font-weight: 400;
	letter-spacing: normal;
}

#search_dropdown.active{
	z-index: 25;
	margin: 0;
}

#search_dropdown.active + #search_modal_close{
	z-index: 26;
	margin: 0;
}

.no-menu .header-search{
	margin-right: auto;
}

@media (min-width: 1200px) {
	.no-menu .header-search{
		min-width: 500px;
	}
}

.grid-item .entry-title{
	line-height: 1.3;
}

.grid-item .item-content.has-avatar{
	padding-top: 1em;
	padding-left: 45px;
	position: relative;
}

.grid-item .author-avatar{
	position: absolute;
	left: 5px;
	top: 2.5em;
}

.grid-item .entry-footer{
	line-height: 1.3;
}

.grid-item .entry-footer.entry-footer-top-author{
	margin-bottom: .1em;
}

.grid-item .entry-footer .comments-link{
	float: none;
	margin: 0;
}

.single .entry-header .entry-title{
	font-weight: 400;
	line-height: 1.3;
	font-size: 1.285715em;
}

.single .entry-footer-top{
	border-bottom: 1px solid var(--colorBorder);
	padding-bottom: 1em;
}

.single .has-avatar .entry-content{
	padding-left: 60px;
	position: relative;
}

.single .entry-footer-author{
	margin-top: 1.5em;
}

.single .entry-footer-author .author-avatar{
	width: 50px;
}

.single .entry-footer-author .author-avatar img{
	max-width: 40px;
}

.single .entry-footer-bottom{
	margin-top: 1.5em;
	padding-top: 1em;
	border-top: 1px solid var(--colorBorder);
}

.single .related-posts h6{
	font-size: 1em;
	line-height: 1.3;
	margin-bottom: .5em;
}

.single .related-posts-heading{
	font-weight: 400;
	line-height: 1.3;
	font-size: 1.285715em;
}

.comments-area{
	border-top: 1px solid var(--colorBorder);
	padding-top: 2em;
}

.comment-reply-title{
	font-weight: 400;
	line-height: 1.3;
	font-size: 1.285715em;
}

.comments-title{
	font-weight: 400;
	line-height: 1.3;
	font-size: 1.285715em;
	border-top: 1px solid var(--colorBorder);
	padding-top: 1.5em;
}

.comment-meta{
	color: inherit;
	min-height: initial;
}

.comment-meta .says{
	display: none;
}

.comment-meta time{
	color: var(--colorFontMuted);
}

.comment-meta > *{
	display: inline-block;
}

.comment .reply a{
	text-transform: uppercase;
	color: var(--colorFontMuted);
}

.comment .reply .svg-icon{
	fill: var(--colorFontMuted);
	opacity: .5;
}

ol.children{
	margin-top: 1.5em;
}

.nav-links .current,
.page-links .current{
	background-color: var(--colorLight);
}

.entry-footer .pld-like-dislike-wrap{
	position: relative;
	margin: 0 1em;
}

.entry-footer .pld-like-dislike-wrap:after{
	content: '';
	position: absolute;
	right: -4px;
	left: -4px;
	height: 3px;
	bottom: -1.2em;
	background-color: var(--colorBorder);
}
